
@{
    ViewData["Title"] = "授权注册页面 - 小程序";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>授权注册页面</legend>
    <div class="layui-field-box" style="padding: 10px;">
        <a href="@ViewData["Url"]" class="layui-btn" target="_blank">点击打开授权注册页面</a>
    </div>
</fieldset>
<div class="layui-bg-red" style="margin:10px; width: 100px; font-size: 15px;">有效期十分钟</div>

